.head{
    width: auto;
    height: 3rem;
    background-color: black;

    display: flex;
    flex-direction: row;
}
.region{
    width: 6rem;
    height: 2.8rem;
    margin-left: 0.2rem;
    background-color: blue;
}
.busqueda{
    width: 12rem;
    height: 2.8rem;
    margin-left: 0.5rem;
    background-color: orange;
}
.letra1{
    color: chartreuse;
    margin-left: 0.4rem;
    margin-top: 0.8rem;
    font-size: 1rem;
}
.letra2{
    color: chartreuse;
    margin-left: 0.4rem;
    margin-top: 0.8rem;
    font-size: 1rem;
}
.carrito{
    width: 3rem;
    height: 3rem;
    margin-left: 0.4rem;
    background-color: red;
}
.redes1{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
    border-radius: 90%;
    background-color: whitesmoke;
}